@model UAV.Admin.Models.LocalPasswordModel

<h3>Change password</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label>Current password</label>
        <div class="iconBoxInput">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @Placeholder = "Current password" })
            @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "validation" })
            <i><img src="~/Content/Images/usericon.png" /></i>
        </div>
    </div>
    <div class="form-group">
        <label>New password</label>
        <div class="iconBoxInput">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @Placeholder = "New password" })
            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "validation" })

            <i><img src="~/Content/Images/mail-icon.png" /></i>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm password</label>

        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @Placeholder = "Confirm password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "validation" })

        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-custom btn-block" name="Change password" value="Change password" />

    </div>


}

