@model List<UAVBusiness.Models.UserProfileModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="boxh1">
                    Customer List <a class="pull-right" href="@Url.Action("Add", "AdminCustomer")">
                        <span class="add-job-cat"> + </span> Add Customer
                    </a>
                </h1>
            </div>

            <div id="div_state_list">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12">

                            @if (Model != null && Model.Count > 0)
                            {
                                <table class="table table-bordered  marginTop20" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>City</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.FName</td>
                                                <td>@item.LName</td>
                                                <td>@item.Email</td>
                                                <td>@item.Phone</td>
                                                <td>@item.City</td>
                                                <td>@item.Type</td>
                                                <td>
                                                    <a href="@Url.Action("Add", "AdminCustomer", new { id = item.UserId })" class="btn btn-primary btn-xs">Edit</a>

                                                    @if (item.IsDeleted == true)
                                                    {
                                                        <a onclick="return confirm('Are you sure you want to enable this item?') " href="@Url.Action("Delete", "AdminCustomer", new { id = item.UserId })" class="btn btn-danger  btn-xs">Delete</a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="return confirm('Are you sure you want to delete this item?') " href="@Url.Action("Delete", "AdminCustomer", new { id = item.UserId })" class="btn btn-danger  btn-blue">Enable</a>
                                                    }
                                                    @if (item.IsActive == true)
                                                    {
                                                        <a onclick="return confirm('Are you sure you want to deactive this item?') " href="@Url.Action("ChangeStatus", "AdminCustomer", new { status = false, id = item.UserId })" class="btn btn-warning  btn-xs">Deactive</a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="return confirm('Are you sure you want to active this item?')" href="@Url.Action("ChangeStatus", "AdminCustomer", new { status = true, id = item.UserId })" class="btn btn-primary  btn-xs">Active</a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div>No record found</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#state").addClass("active");
        })
    </script>

    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/Pages/State.js"></script>*@

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "aaSorting": [],
                "aoColumns": [null, null, null, null, null, { "bSortable": false, "bSearchable": false }]
            });
        });
    </script>
}
